{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href='https://css.gg/instagram.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="shortcut icon" type="gif" href="{% static 'img/favico.ico'%}">

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>İletişim</title>
</head>
<style>




</style>
<body>
    <header>

        <div class="xxx" >
          <ul>
            <img src="{% static 'img/clx.png'%}" onclick="location.href='home';"  alt="" style="margin-bottom: 5px; margin-top: 6px; width: 500px;">
            {% if request.user.is_authenticated %}
            <div><a href="logout" class="position-absolute end-0 me-3 mb-3"><i class="bi bi-box-arrow-in-left"></i> Çıkış Yap</a></div>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <div><a href="login" class="position-absolute end-0 me-3 mb-3"><i class="bi bi-box-arrow-in-right"></i> Giriş Yap</a></div>
            {% endif %}
          </ul>
          <ul style="height: 70px; margin-top: 10px;">

            <li class="anasayfa"><a  href="home">Anasayfa</a></li>
            <li class="programlar"><a  href="programlar">Programlar</a></li>

            <li class="contact"><a class="active" href="iletisim">İletişim</a></li>
            <li class="koclukal"><a href="koclukal">Koçluk Al</a></li>
            <li class="urunler"><a href="urunler" style="color: #00ca72;">Ürünlerimiz <i class="fa-brands fa-shopify"></i></a></li>

          </ul>



        </div>
      </header>

      <form class="row g-3 mx-auto my-5" style="width: 60%;" method="POST">{% csrf_token %}
        <h1 class="fw-semibolid fw-bold text-center" style="  font-family: 'Heebo', sans-serif;"> Bize Mesaj Gönderin </h1>
        <div class="col-md-6">
          <label for="inputName" class="form-label">İsminiz : </label>
          <input type="text" class="form-control rounded-0 border border-dark border-2"  placeholder="Ad" name="name" id="inputName" required>
        </div>
        <div class="col-md-6">
          <label for="inputLastName" class="form-label">Soy İsminiz :</label>
          <input type="text" class="form-control rounded-0 border border-dark border-2" placeholder="Soyad" name="last_name" id="inputPassword" required>
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control rounded-0 border border-dark border-2" placeholder="E-posta" name="e-mail" id="inputEmail4" required>
        </div>
        <div class="col-md-6">
          <label for="inputPhoneNumber" class="form-label">Telefon Numarası (Opsiyonel)</label>
          <input type="number" class="form-control rounded-0 border border-dark border-2" placeholder="Telefon" name="phone" id="inputPhoneNumber">
        </div>

        <div class="mb-3">
            <label for="FormControlTextarea1" class="form-label">Mesajınızı Girin :</label>
            <textarea class="form-control rounded-0 border border-dark border-2" id="FormControlTextarea1" placeholder="Mesajınız" name="message" rows="3"></textarea>
          </div>
       <button class="btn rounded-0 border border-dark border-2 text-white" type="submit" style="background-color: blue; width: fit-content; margin-left: 90%;">
            Gönder
       </button>
      </form>

      {% include 'partials/_footer.html' %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5af3974b3f.js" crossorigin="anonymous"></script>
</body>
</html>