<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Hakkında</h6>
          <p class="text-justify"> <p class=""></p>Cage Strength, profesyonel antrenörler ve sporculardan oluşan, bilimsel araştırmalar ve saha birikimi doğrultusunda çalışmalarına devam eden, sporun her alanında sporcu için üretim yapmayı hedefleyen bir oluşumdur.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Menü</h6>
          <ul class="footer-links">
              <li><a href="../home">Anasayfa</a></li>
              <li><a href="../koclukal">Koçluk Al</a></li>
              <li><a href="../beslenme">Beslenme</a></li>
              <li><a href="../programlar">Programlar</a></li>
            <li><a href="../iletisim">İletişim</a></li>

          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Diğer Hizmetlerimiz</h6>
          <ul class="footer-links">
            <li><a href="#">Ürünler</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Telif Hakkı &copy; 2022 Tüm haklar  <a href="#">Cage Strength &#174;</a> ' e aittir.

          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="instagram" href="https://www.instagram.com/cagestrength"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/channel/UCUKd8Vz9Ob8MBOomHQmmonw" style="margin-bottom: 40px;"><i class="fa-brands fa-youtube"></i></a></li>


          </ul>
        </div>
      </div>
    </div>